################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/Encoder808/bin/Debug
/Encoder808/obj/Debug
/packages
/Encoder808/publish
/Encoder808/Encoder808.csproj.user
